name: Hello World

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Hello step
        run: |
          echo "Welcome to GitHub Actions on all services"
          echo "This is line 1 command"

 
